.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: inherit;
}

.usersleft {
  display: inline-grid;
  gap: 10px;
  grid-auto-flow: column;
  width: fit-content;
  padding-bottom: 10px;
  cursor: default;
}

.numberusersleft {
  font-size: 34;
  color: #003d65;
}

.padding {
  padding-bottom: 100px;
}

.button {
  position: absolute;
  right: 120px;
  bottom: 120px;
}

.center {
  align-self: center;
}
