.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  padding-bottom: 200px;
  width: auto;
}

.data {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 100px;
  width: 90%;
}

.title {
  max-width: 80%;
  padding-left: 30px;
  padding-right: 30px;
  height: 300px;
  position: absolute;
}

.facilitycontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  width: auto;
  padding-left: 200px;
  padding-right: 200px;
}
