.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  padding-bottom: 200px;
  padding-top: 30px;
  width: auto;
}

.buttoncontainer {
  height: 220px;
  padding-top: 200px;
}

.firstpagebuttoncontainer {
  height: 150px;
  padding-top: 100px;
}

.data {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 90%;
}

.button {
  display: flex;
  width: 90%;
  padding-top: 60px;
  justify-content: flex-end;
}

.notificationcontainer {
  align-content: center;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 100px;
}

.periodcontainer {
  padding-right: 10%;
  padding-left: 10%;
}

.center {
  display: flex;
  justify-content: center;
}

.fileupload {
  display: flex;
  justify-content: center;
  padding-bottom: 75px;
  padding-top: 10px;
}

.headers {
  height: 60px;
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.fontSize {
  font-size: medium;
}

.clickable {
  font-size: medium;
  text-decoration: underline;
  color: #003d65;
}

.back {
  align-self: flex-start;
  padding-left: 10px;
  color: #003d65;
  cursor: pointer;
  padding-top: 50px;
}

.title {
  padding-top: 79px;
}

.previewpagebuttoncontainer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 40px;
}

.infotext {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  color: red;
  font-size: 20px;
}

.required {
  font-weight: bold;
  color: red;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
