.container {
  background-color: white;
  border: 4px solid #000000;
  height: 60px;
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  align-content: center;
}
