:root {
  --max-width: 200px;
}

.open {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: fit-content;
  background-color: #ffffff;
  outline: black solid 4px;
  height: fit-content;
  max-width: var(--max-width);
  margin-top: 4px;
}

.list {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  padding-left: 0px;
  margin-top: -10px;
}

.listItem {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

.listItem > hr {
  width: 100%;
}

.listItemContent {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.listItemContent > input {
  margin-right: 10px;
}
