.container {
  align-content: center;
  padding-right: 70px;
}

.filters {
  display: flex;
  position: absolute;
  top: 300px;
  gap: 1rem;
}

.component {
  margin-top: 100px;
  display: flex;
  position: absolute;
  z-index: 1;
}

.flex {
  display: flex;
}

.table {
  margin-top: 180px;
}

.headers {
  height: 60px;
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  align-content: center;
}
.center {
  display: flex;
  justify-content: center;
}
.button {
  cursor: pointer;
  color: #003d65;
}
.icon {
  cursor: pointer;
}
.fontSize {
  font-size: 15px;
}
