.dropDownMenu {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 237px;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 237px;
  min-height: 60px;
  background-color: #ffffff;
}

.notClicked {
  flex-direction: row-reverse;
  max-width: 237px;
  min-height: 60px;
  background-color: transparent;
}

.username {
  font-size: 24px;
  max-width: 200;
  padding-left: 32px;
  padding-top: 10px;
  align-self: right;
  color: #000000;
  text-transform: capitalize;
}

.company {
  font-size: 14px;
  max-width: 200;
  line-height: 14px;
  font-weight: lighter;
  padding-left: 32px;
  padding-bottom: 10px;
  color: #000000;
}

.usersymbol {
  text-align: center;
  cursor: pointer;
  width: 53px;
  height: 53px;
  margin-right: 5px;
  border-radius: 30px;
  line-height: 53px;
  font-size: 24px;
  color: #000000;
  background: #dadada;
}
