.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.index {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}
.content {
  font-size: 34px;
  color: #003d65;
  width: 100%;
}
.divider {
  margin: 5px;
}
.input:focus {
  border: none;
  outline: none;
}
.input {
  border: none;
  background-color: transparent;
}
.iconbutton {
  float: right;
}
.icon {
  font-size: 24px;
}
