.home {
  cursor: pointer;
  color: #003d65;
  font-size: 34px;
  line-height: 40px;
  position: relative;
  left: 20px;
  top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  z-index: 5;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 51px;
  background-color: transparent;
}

.dropdown {
  margin-left: auto;
  z-index: 10;
}
