.home {
  cursor: pointer;
  color: #003d65;
  font-size: 34px;
  line-height: 40px;
  position: relative;
  left: 20px;
  top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  z-index: 5;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 51px;
  background-color: transparent;
}

.dropdown {
  margin-left: auto;
  z-index: 10;
}

.pageLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  width: max-content;
  flex-grow: 1;
  margin-right: 190px;
}

.operatorLinks {
  display: flex;
  gap: 30px;
}

.pageLink {
  cursor: pointer;
  color: #003d65;
  font-size: 20px;
  line-height: 40px;
  position: relative;
  left: 20px;
  top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  z-index: 5;
}

.current {
  font-size: 10px;
  line-height: 40px;
  position: relative;
  left: 20px;
  top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  z-index: 5;
  color: black;
  font-size: 25px;
}
