.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.message {
  height: 100%;
}

.submitButton {
  align-self: flex-end;
}

.headRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headRow > i {
  cursor: pointer;
}
