.container {
  margin-left: 70px;
  margin-right: 70px;
  align-content: center;
  padding-top: 40px;
  padding-bottom: 200px;
}

.path {
  cursor: pointer;
}

.filters {
  display: inline-grid;
  gap: 1rem;
  grid-auto-flow: column;
  position: absolute;
}

.filter {
  width: fit-content;
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: inherit;
}

.description {
  position: relative;
}

.center {
  align-self: center;
}

.padding {
  padding-top: 30px;
}

.table {
  padding-top: 160px;
}

.responseOk {
  color: chartreuse;
}

.responseError {
  color: red;
}

.back {
  align-self: flex-start;
  padding-left: 10px;
  color: #003d65;
  cursor: pointer;
}

.DUcontainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-top: 30px;
}

.lambdaDU {
  font-weight: bold;
  padding-right: 10px;
  bottom: 0;
}

.lambdaDUnumber {
  color: #003d65;
  font-size: 34px;
}
