.container {
  margin-left: 70px;
  margin-right: 70px;
  align-content: center;
  padding-top: 40px;
  padding-bottom: 200px;
}

.path {
  cursor: pointer;
}

.filters {
  display: inline-grid;
  gap: 1rem;
  grid-auto-flow: column;
  position: absolute;
}

.filter {
  width: fit-content;
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: inherit;
}

.description {
  position: relative;
  margin-left: auto;
}

.center {
  align-self: center;
}

.padding {
  padding-top: 30px;
}

.table {
  padding-top: 160px;
}

.responseOk {
  color: chartreuse;
}

.responseError {
  color: red;
}
