.container {
  align-content: center;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 100px;
  padding-top: 30px;
}

.center {
  display: flex;
  justify-content: center;
}

.headers {
  height: 60px;
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.fontSize {
  font-size: medium;
}

.clickable {
  font-size: medium;
  text-decoration: underline;
  color: #003d65;
  cursor: pointer;
  z-index: 1;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.inventorycontainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 40px;
  padding-top: 10px;
  width: 90%;
  position: center;
  z-index: -1;
}

.menucontainer {
  padding-bottom: 40px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  position: left;
  gap: 20px;
  padding-bottom: 100px;
  width: 90%;
}

.buttoncontainer {
  display: flex;
  justify-content: right;
}

.filtercontainer {
  display: flex;
  justify-content: left;
  gap: 40px;
}
