@keyframes modalFade {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.content {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 20px;
  outline: none;
  padding: 20px;
  margin: auto auto;
  width: fit-content;
  max-width: 80%;
  height: fit-content;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: modalFade;
  animation-duration: 0.3s;
}

.children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
